@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.container {
  width: 90%;
  margin: 0 auto;
}

/* top banner css styles  */
.top-banner {
  background-color: rgba(229, 84, 159, 0.1);
}
.top-banner-content {
  display: flex;
  align-items: center;
  gap: 7%;
  padding-top: 50px;
}
.top-banner-text {
  width: 50%;
  padding-bottom: 100px;
}
.top-banner-text h1 {
  font-size: 50px;
  font-weight: 900;
  color: #272727;
  margin-bottom: 32px;
}
.top-banner-text p {
  font-size: 18px;
  font-weight: 400;
  color: rgba(39, 39, 39, 0.6);
  margin-bottom: 32px;
}
.top-banner-text button {
  background-color: #e55473;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 43px;
  border-radius: 8px;
}
.top-banner-img {
  width: 50%;
}
.top-banner-img img {
  width: 100%;
}

.feature-content {
  text-align: center;
  padding-top: 100px;
  color: #272727;
  margin-bottom: 50px;
}
.feature-content p {
  font-size: 12px;
  font-weight: 400;
  color: rgba(39, 39, 39, 0.6);
}

.flower-collection {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2%;
  margin-bottom: 100px; /* it will be removed */
}
.flower1 {
  background-color: #a7216213;
  border-radius: 300px 300px 0 0;
  padding: 80px 50px 0 50px;
}
.flower1 img {
  width: 100%;
}
.flower-title {
  text-decoration: underline;
  text-align: center;
  margin-top: 20px;
}
.flower2 {
  background-color: #0598a015;
  border-radius: 300px 300px 0 0;
  padding: 180px 50px 0 50px;
}
.flower2 img {
  width: 100%;
}

.flower3 {
  background-color: #477d1115;
  border-radius: 300px 300px 0 0;
  padding: 52px 50px 0 50px;
}
.flower3 img {
  width: 100%;
}
.delivery {
  background-color: rgba(39, 39, 39, 0.05);
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 86px 0;
  margin-bottom: 25px;
  border-radius: 8px;
}

.same-day {
  text-align: center;
}
.same-day p {
  margin-top: 24px;
}
.hot-deal {
  background-color: rgba(229, 84, 115, 0.05);
  margin-top: 70px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.hot-deal-content {
  display: flex;
  align-items: center;
}
.hot-deal-text {
  width: 50%;
  text-align: center;
}
.hot-deal-text h2 {
  font-size: 40px;
  color: #272727;
}
.hot-deal-text p {
  color: rgba(39, 39, 39, 0.6);
  margin-top: 32px;
  margin-bottom: 32px;
}
.hot-deal-text button {
  background-color: #e55473;
  border: none;
  color: #fff;
  padding: 20px 43px;
  border-radius: 8px;
}
.hot-deal-img {
  width: 30%;
  padding-bottom: 0;
  margin-left: 90px;
}
.hot-deal-color {
  color: #e55473;
}
.social {
  padding-top: 120px;
  text-align: center;
  align-items: center;
}
.social h2 {
  font-size: 40px;
  font-weight: 800;
  color: #272727;
}
.social p {
  font-size: 15px;
  color: rgba(39, 39, 39, 0.644);
  margin-top: 24px;
}
