@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;900&display=swap");
body {
  padding: 0%;
  font-family: "Poppins", sans-serif;
  margin: 0%;
  display: flex;
}
.top-banner {
  background-color: #f0e1e5;
  height: 380px;
  width: 100%;
}
.text-a {
  color: rgb(24, 22, 22);
  text-align: start;
  padding: 50px;
  padding-right: 70%;
  padding-left: 4%;
  padding-top: 3%;
}
